<div class="container-fluid my-3">
    <h4 class="underline d-inline my-2">Business</h4>
    <div class="card-columns mt-5">
        <a *ngFor = "let businessNew of businessNews" (click)="selectedNews(businessNew)">
            <div class="card">
                <img src="{{businessNew.urlToImage}}" class="card-img-top" alt="{{businessNew.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{businessNew.title}}</h5>
                    <p class="card-text">{{businessNew.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>

