
  <div class="container-fluid my-3">
    <h4 class="underline d-inline my-2">General</h4>
    <div class="card-columns mt-5">
        <a *ngFor = "let generalNew of generalNews" (click)="selectedNews(generalNew)">
            <div class="card">
                <img src="{{generalNew.urlToImage}}" class="card-img-top" alt="{{generalNew.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{generalNew.title}}</h5>
                    <p class="card-text">{{generalNew.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
