<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img src="{{interestedArticle.urlToImage}}" class="card-img-top" alt="{{interestedArticle.title}}">
                <div class="card-body my-5">
                    <h5 class="card-title">{{interestedArticle.title}}</h5>
                    <p class="card-text">{{interestedArticle.description}}</p>
                    <p class="card-text">{{ interestedArticle.content }}</p>   
                </div>
            </div>
        </div>
    </div>
</div>

