
<div class="container-fluid my-3">
    <h4 class="underline d-inline my-2">Health</h4>
    <div class="card-columns mt-5">
        <a *ngFor = "let healthNew of healthNews" (click)="selectedNews(healthNew)">
            <div class="card">
                <img src="{{healthNew.urlToImage}}" class="card-img-top" alt="{{healthNew.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{healthNew.title}}</h5>
                    <p class="card-text">{{healthNew.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
